
main{
    width: 100%;
}

.h1 {
    color: #fff;
}

body {
    font-family: 'Istok Web', sans-serif;
    background-size: cover;
    min-height: 100%;
    margin: 0;
}

/**/


.selectedFighters {
    position: fixed;
    top: 60px;
    right: 10px;
    text-align: center;
    font-size: 0.8rem;
    z-index: 1;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    padding-top: 20px;
}

.counter {
    position: absolute;
    top: 40px;
    left: 20px;
    border-radius: 100%;
    background-color: indianred;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    height: 60px;
    width: 60px;
    text-align: center;
}

.trash {
    position: absolute;
    top: 80px;
    left: 60px;
    border: 1px solid silver;
    border-radius: 100%;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    height: 30px;
    width: 30px;
}

.trash:focus{
    outline:none;
    box-shadow:none;
}

.btn-start {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 1;
}

.awards{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.champion i {
    color: gold;
    font-size: 4em;
}

.viceChampion i {
    color: silver;
    font-size: 3em;
}

.thirdPlace i {
    color: brown;
    font-size: 3em;
}
